@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>Add a new Client</h4>

@using(Html.BeginForm())
{
<hr />
<p>
@Html.LabelFor(model => model.Name, "Name: ")
@Html.TextBoxFor(model => model.Name)
&ensp;
@Html.LabelFor(model => model.Description, "Description of Services: ")
@Html.TextBoxFor(model => model.Description)
&ensp;</p>
@Html.LabelFor(model => model.Stylist, "Stylist: ")
@Html.DropDownList("StylistId")
<hr />
<input type="submit" value="Add new Client" class="btn btn-primary" />

}
<br>
<p>@Html.ActionLink("Show all Clients", "Index", null, null, new { @class = "btn btn-primary btn-primary:hover"})</p>